body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 0;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 10px;
}
h1 {
    text-align: center;
    color: #333;
}
label {
    display: block;
    color: #333;
}
input[type = "text"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type = "number"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type = "submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
input[type = "submit"]:hover {
    background-color: #45a049;
}
#error {
    color: red;
    font-style: italic;
    margin-top: 10px;
}
#valid {
    color: green;
    font-style: italic;
    margin-top: 10px;
}
